$mainBackgroundColor: #EEEEFF;
$mainBackgroundColor: #f5efe0;
$mainBackgroundColor: #fff;

$articleFont: "Georgia", "Times New Roman";

#root {
  background: $mainBackgroundColor;
}

.App {
  text-align: center;
  background: $mainBackgroundColor;
  font-family: $articleFont;
}

.Home {
  text-align: center;
}

.contact {
  text-align: center;
  background: $mainBackgroundColor;
  font-family: $articleFont;
}

.about {
  text-align: center;
  background: $mainBackgroundColor;
  font-family: $articleFont;
  margin-left: 15%;
  margin-right: 15%;
}

@media (max-width: 620px) {
  .about {
    margin-left: 0%;
    margin-right: 0%;
  }
}

.articles {
  text-align: center;
  background: $mainBackgroundColor;
  font-family: $articleFont;
}

.article-container {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-column-gap: 10%;
  margin: 10%;
  margin-bottom: 30%;
  margin-top: 5%;
}

@media (max-width: 620px) {
  .article-container {
    grid-template-columns: 80%;
    grid-column-gap: 0%;
  }
}

.article {
  box-shadow: 1px 1px #DDDDEE;
  box-shadow: -1px -1px #DDDDEE;
  width: 100%;
  margin: 1rem;
  background: #FFF;
  background: #AAAABB;
  padding: 1rem;
}

.article-name {
  font-family: 'Poppins', sans-serif;
  font-size: 23px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 1.2px;
  text-shadow: 0px 0px, 1px 0px, 1px 0px;;
}

.article:hover {
  background: #CCCCDD;
  background: #ddd;
}

.article-page {
  text-align: center;
  margin: 1rem;
  font-family: $articleFont;
}

.article-content {
  text-align: left;
  margin-left: 15%;
  margin-right: 15%;
  font-family: $articleFont;
  white-space: pre-line;
}

.interviews {
  text-align: center;
  background: $mainBackgroundColor;
  font-family: $articleFont;
}

.nav {
  background: #EEEEEE;
  text-align: center;
  padding: 1rem;
  border-bottom: solid 1px #333333;
  width: 100%;
}

.nav-elem {
  text-decoration: none;
  color: #333333;
  padding: 2rem;
  font-family: 'Montserrat',Helvetica,Arial,sans-serif;
  font-size: 16px;
  letter-spacing: 0.05em;
}

a.nav-elem:hover {
  color: #BB8855;
}

.articleimg {
  width: 100%;
}

.articleimg-page {
  width: 350px;
  padding: 4px;
}

.nav-elem:hover {
  color: #444444;
}

.nav-mobile {
  display: flex;
  flex-direction: column;
  background: #DDDDDD;
  padding: 1rem;
}

@media (max-width: 1130px) {
  .nav {
    display: none;
  }
  .nav-bar {
    right: 0px;
    top: 0rem;
  }
  .nav-bar {
    right: 15%;
    top: 1.6rem;
    padding: 1rem;
  }
}

@media (min-width: 1130px) {
  .hamburger {
    display: none;
  }
  .hamburgerDropDown {
    display: none;
  }
  .hamburgerDiv {
    display: none;
  }
  .nav-bar > div {
    display: none;
  }
}

.iframePlayer {
  font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;
}

.linkIframe {
  color: #cccccc; text-decoration: none;
}

.admin-page {
  text-align: center;
}

.admin-forms {
  padding: 1rem;
}

.logo-home {
  width: 100%;
}

.podcast-headline {
  align-items: center;
}

.logo-small {
  width: 200px;
}

.podcast-layout {
  display: flex;
}

.podcast-layout-child {
  width: 50%;
  padding: 1rem;
}

.podcast-home {
  width: 50%;
  margin: 0 auto;
}

.podcast-mini {
  width: 50px;
  height: 50px;
}

.staff {
  padding-left: 4rem;
  padding-right: 4rem;
}

.social-icon {
  max-width: 40px;
  max-height: 40px;
  padding: 0.5rem;
}
