$mainBackgroundColor: #EEEEFF;
$articleFont: "Georgia", "Times New Roman";

#root {
  background: $mainBackgroundColor;
}

.App {
  text-align: center;
  background: $mainBackgroundColor;
  font-family: $articleFont;
}

.contact {
  text-align: center;
  background: $mainBackgroundColor;
  font-family: $articleFont;
}

.about {
  text-align: center;
  background: $mainBackgroundColor;
  font-family: $articleFont;
}

.articles {
  text-align: center;
  background: $mainBackgroundColor;
  font-family: $articleFont;
}

.article-container {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-auto-rows: 400px;
  grid-column-gap: 200px;
  margin: 10%;
}

.article {
  box-shadow: 1px 1px #DDDDEE;
  box-shadow: -1px -1px #DDDDEE;
  width: 400px;
  margin: 1rem;
  background: #FFFFFF;
  padding: 1rem;
}

.article:hover {
  background: #CCCCDD;
}

.article-page {
  text-align: center;
  margin: 1rem;
  font-family: $articleFont;
}

.article-content {
  text-align: left;
  margin-left: 15%;
  margin-right: 15%;
  font-family: $articleFont;
}

.interviews {
  text-align: center;
  background: $mainBackgroundColor;
  font-family: $articleFont;
}

.nav {
  background: #DDDDDD;
  text-align: center;
  padding: 1rem;
}

.nav-elem {
  text-decoration: none;
  color: #777777;
  padding: 2rem;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.articleimg {
  width: 400px;
}

.articleimg-page {
  width: 350px;
  padding: 4px;
}

.nav-elem:hover {
  color: #444444;
}

.nav-mobile {
  display: flex;
  flex-direction: column;
  background: #DDDDDD;
  padding: 1rem;
}

@media (max-width: 1130px) {
  .nav {
    display: none;
  }
  .nav-bar {
    right: 0px;
    top: 0rem;
  }
  .nav-bar {
    right: 15%;
    top: 1.6rem;
    padding: 1rem;
  }
}

@media (min-width: 1130px) {
  .hamburger {
    display: none;
  }
  .hamburgerDropDown {
    display: none;
  }
  .hamburgerDiv {
    display: none;
  }
  .nav-bar > div {
    display: none;
  }
}

.iframePlayer {
  font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;
}

.linkIframe {
  color: #cccccc; text-decoration: none;
}

.admin-page {
  text-align: center;
}

.admin-forms {
  padding: 1rem;
}
